* {
	/*CSS Syntax*/
	/*CSS Property: Value*/
	font-family: 'Roboto', sans-serif;	
}

h1, h2 {
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
}

img {
	display: fixed;
	height: 400px;
	width: 400px;
	margin-top: -310px;
	margin-right: 60px;
}

#navBar{
	background-color: white;
}

#border-nav{
	display: block;
	background-color: #8c52ff;
	width: 100%;
	height: 3px;
	margin-top: -2px;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	background-color: transparent;
}

#gallery {
	height: 75vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 6px;
}

#position{
	color: #8c52ff;
}

#contact{
	background-color: #8c52ff;
	border-color: #8c52ff;
}

#github{
	margin-top: 20px;
}

#stackoverflow{
	margin-top: 20px;
	margin-left: 20px;
}

#instagram{
	margin-top: 20px;
	margin-left: 20px;
}

#facebook{
	margin-top: 20px;
	margin-left: 20px;
}

#coding{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
	/* margin-left: -700px; */

}

#code-text{
	font-size: 12px;
}

#design{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
	/* margin-left: -700px; */
}

#design-text{
	font-size: 12px;
}

#database{
	margin-bottom: 20px;
	text-align: justify;
	text-align: center;
	display: table-cell;
}

#database-text{
	font-size: 12px;
}

.head-div{
	text-align: center;
	margin-bottom: 40px;
}

.header-text{
	text-align: center;
	font-size: small;
}

/* background-color containers */
#special{
	background-image: linear-gradient(to bottom right, #8c52ff, rgb(172, 172, 172));
}

#certs{
	background-image: linear-gradient(to bottom right, #8c52ff, rgb(172, 172, 172));
}

#skills{
	background-image: linear-gradient(to bottom right, #8c52ff, rgb(172, 172, 172));
}

/* about-me */

hr{
	display: block;
	background-color: white;
	width: 15%;
	margin-top: 50px;
	align-content: center;
}

.row{
	display: flex;
	margin-bottom: 50px;
	/* table-layout: fixed; */
	border-spacing: 10px;
	align-self: center;
}

#about-me-border{
	background-color: #8c52ff;
	height: 3px;
	width: 15%;
	margin-left: 10px;
	/* margin-bottom: -15px; */
	margin-top: 5px;
	margin-bottom: 35px;
}

#about-me{
	/* margin-top: -100px; */
	left: 10%;
	width: 80%;
	margin-top: -325px;
	border-radius: 25px;
}

#about-me-img{
	margin-top: 300px;
	height: 550px;
	width: 550px;
	margin-bottom: 50px;
	left: 10%;	
	border-radius: 25px;
}

#about-me-text{
	margin-top: -25px;
}

#img-div{
	margin-left: 850px;
	margin-top: -275px;
	margin-bottom: 500px;
}

ul{
	list-style: none;
	padding: 0;
}

h2 {
	color: #ffffff;
}

.tools {
	padding: 5px;
	height: 210px;
	margin-top: 15px;
	margin-bottom: 25px;
	width: 75%;
	border: 5px solid #F2F2F2;
	color: white;
	font-size: 12px;
}

html {
	scroll-behavior: smooth;
}

html,body{
	max-width: 100%;
	overflow-x: hidden;
}

/* Certs */

#item_1-text{
	font-size: 12px;
}

#item_2-text{
	font-size: 12px;
}

#item_3-text{
	font-size: 12px;
	margin-right: 10px;
}

h3{
	margin-right: 85px;
	margin-left: 80px;
}

.row-1{
	display: flex;
	/* table-layout: fixed; */
	border-spacing: 10px;
	align-self: center;
	margin-right: 30px;

}

.row-2{
	display: flex;
	/* table-layout: fixed; */
	border-spacing: 10px;
	align-self: center;
	margin-right: 30px;
}

/* work experience */
#photo{
	left: 10%;
	width: 80%;
	margin-top: -325px;
	border-radius: 25px;
	
}

#photo-text{
	font-size: 12px;
}

#photo-me-border{
	background-color: #8c52ff;
	height: 3px;
	width: 15%;
	margin-left: 10px;
	/* margin-bottom: -15px; */
	margin-top: 5px;
	margin-bottom: 35px;
}

#photo-img{
	margin-top: 130px;
	height: 550px;
	width: 550px;
	/* margin-bottom: 50px; */
	left: 10%;	
	border-radius: 25px;
}

#photo-img-2{
	margin-top: 130px;
	height: 550px;
	width: 550px;
	/* margin-bottom: 50px; */
	left: 10%;	
	border-radius: 25px;
}

#object-work{
	margin-top: 60px;
}

#object-work-2{
	margin-top: -750px;
}

#camera-div{
	margin-left: 850px;
	margin-top: -385px;
	margin-bottom: 550px;
}

#camera-div-2{
	margin-left: 850px;
	margin-top: -395px;
	margin-bottom: 875px;
}

/* contact-me */
#email{
	color: #8c52ff;
}

#email-link{
	text-decoration: none;
	color: black;
}

/* Head */
#img-tag{
	display: block;
	margin-top: 215px;
	margin-bottom: -150px;
	margin-left: 430px;
	width: 80%;
}

/* Biography */
#hr-bio{
	display: block;
	background-color: black;
	width: 15%;
	margin-top: 50px;
	align-content: center;
}

/* Achievements */
#achievements-img{
	display: block;
	border-radius: 250px;
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
    height: 200px;
    width: auto;
}

#books-img{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
	margin-right: auto;
    height: 200px;
    width: auto;
	box-shadow: 5px 5px 5px #333;
}

@media screen and (max-width: 550px){
	#about-me-img, #Landing, #photo-img {
		width: auto;
	}
}
